<h1>Here's your Article!</h1>
<p>Title: <%= @article.title %></p>
<p>Content: <%= @article.content %></p>

<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>